<ol class="breadcrumb">
    <li><a href="#/">Início</a></li>
    <li class="active">Sobre</li>
</ol>
<pre>

==================================================
Rafael Siqueira Ramos
==================================================
Phone: +55 (21) 98091-0023
Email: rafael@siqueira.net
Current Address: R Aroazes, 230 - Apto 903 - Barra da Tijuca

************ EDUCATION ************

UVA - Universidade veiga de almeida
Computer Engineer

************ EXPERIENCE ************

PROJECT MANAGER / TECHNICIAN LEAD, November/2011
Abacomm Brasil
Responsible for develop technical mobile and web solutions applied to pharmaceutical, services and base industry. Business rules knowledge and client inquiries analysis. Management of structure and tools for project development. Implementation and customization of the solution with the customer, acting in a consultative manner to execute the solution. Definition of the project (strategy and architecture); definition of team and work scope. Relationships with internal and external suppliers (infra structure and additional services).

SENIOR SYSTEM ANALYST, November/2010 - November/2011
iBrands Medios Interactivos
Responsible for examining the technical viability of applications. Specialist in e-commerce using Magento platform. Experienced with developing e-mail marketing tools (segmentation, categorization, massive e-mail dispatch).

IT SPECIALIST, November/2009 - November/2010
IBM
Analysis and requirements definition; Coding and modeling for large accounts (Michelin, Oi).

DEVELOPER / SYSTEM ANALYST, November/2008 - November/2009
Politec
Analysis and requirements definition; Coding and modeling for large accounts (RNP, Golden Cross, ANP). Key member of team responsible for building and maintain an internal SDK to improve development productivity.

DEVELOPER / SYSTEM ANALYST, January/2008 - October/2008
Personare / A Resitência
Analysis and requirements definition; Coding and modeling internal products.

PROGRAMMER, January/2005 - January/2008
Digirati / Hostnet
Analysis and requirements definition; Coding and modeling internal products. Technical Owner/Responsible of redesign (technical architecture / modeling) of the client's portal


************ CORE COMPETENCIES ************

Agile (Scrum, BDD)
Web/Mobile
Team Management
Cloud Computing
Project Coordination
Analytical Troubleshooting
Software Architecture
Sofware Development


************ TECHNICAL SKILLS ************

Software Design
Object Oriented Analysis and Design, Design Patterns, UML

Methodologies
SCRUM, Behaviour Driven Development Frameworks.

Languages
Java (EJB, Hibernate, JSF, Struts, Seam), Node.js (Express, Sails, Socket.io), PHP (Zend Framework, CodeIgniter),Swift 1.x/Objective-C

Database
MySQL, Oracle, DynamoDB, MongoDB and Others.
Test
Selenium, Jasmine, JUnit, PHPUnit

Web
AngularJS, Javascript (ECMA 6), jQuery (Web/Mobile), Ionic

Server/Infrastructure
Amazon Web Services


************ LANGUAGES ************

Portuguese; Spanish; English

************ CERTIFICATIONS ************

Amazon - AWS Cloud Professional
Amazon - AWS Technical Professional Accreditation
Amazon - AWS Business Professional Accreditation
Zend - ZendFramework Certified Engineer
Zend - PHP 5.3 Certified Engineer
</pre>